html {
	height: 100%;
}

body {
	background-color: black;
	color: white;
	height: 100%;
}

header {
	height: 15%;
}

nav {
	width: 20%;
	height: 85%;
	float: left;
}

#content {
	width: 80%;
	height: 85%;
	float: left;
}

#content-frame {
	width: 100%;
	height: 100%;
}
